.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    background-color: white;
    margin: 0 auto;
    max-width: 1440px;
    position: relative;
    z-index: 20;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px 40px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
}

.btn-catalogo {
    background-color: #56642B;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
}

.header-container img {
    width: 200px;
    height: auto;
}
